USE [u_szwagier]
GO
/****** Object:  UserDefinedFunction [dbo].[getPurchaseCount]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getPurchaseCount]
(
    @ActivityId int
)
RETURNS int
AS
BEGIN
    DECLARE @Count int;
    SELECT @Count = COUNT(*)
    FROM Student_activities
    WHERE activity_id = @ActivityId;
    RETURN @Count;
END;
GO
