USE [u_szwagier]
GO
/****** Object:  UserDefinedFunction [dbo].[getActivityType]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getActivityType]
(
    @ActivityId int
)
RETURNS nvarchar(32)
AS
BEGIN
    DECLARE @ActivityType nvarchar(32);
   
    IF EXISTS (SELECT 1 FROM Courses WHERE activity_id = @ActivityId)
        SET @ActivityType = 'Course';
    ELSE IF EXISTS (SELECT 1 FROM Webinar WHERE activity_id = @ActivityId)
        SET @ActivityType = 'Webinar';
    ELSE IF EXISTS (SELECT 1 FROM Studies WHERE activity_id = @ActivityId)
        SET @ActivityType = 'Studies';
    ELSE IF EXISTS (SELECT 1 FROM Study_courses WHERE activity_id = @ActivityId)
        SET @ActivityType = 'Study course';
    ELSE IF EXISTS (SELECT 1 FROM Course_modules WHERE activity_id = @ActivityId)
        SET @ActivityType = 'Course module';
    ELSE
        SET @ActivityType = 'No data';
       
    RETURN @ActivityType;
END;
GO
