USE [u_szwagier]
GO
/****** Object:  UserDefinedFunction [dbo].[getModuleTypeCount]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getModuleTypeCount]
(
    @ModuleTypeId smallint
)
RETURNS int
AS
BEGIN
    DECLARE @Count int;
    SELECT @Count = COUNT(*)
    FROM Course_modules
    WHERE module_type_id = @ModuleTypeId;
    RETURN @Count;
END;
GO
