USE [u_szwagier]
GO
/****** Object:  UserDefinedFunction [dbo].[getStudentTotalCosts]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getStudentTotalCosts]
(
    @StudentId int
)
RETURNS money
AS
BEGIN
    DECLARE @TotalCost money;
    SELECT @TotalCost = SUM(od.price)
    FROM Orders o
    JOIN Order_details od ON o.order_id = od.order_id
    WHERE o.student_id = @StudentId;
    RETURN ISNULL(@TotalCost, 0);
END;
GO
