USE [u_szwagier]
GO
/****** Object:  UserDefinedFunction [dbo].[hasAssignedClasses]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[hasAssignedClasses]
(
    @UserId int
)
RETURNS bit
AS
BEGIN
    DECLARE @HasClasses bit = 0;
   
    IF EXISTS (
        SELECT 1
        FROM Study_courses
        WHERE tutor_id = @UserId
        UNION
        SELECT 1
        FROM Internships
        WHERE coordinator_id = @UserId
        UNION
        SELECT 1
        FROM Meetings
        WHERE translator_id = @UserId
    )
        SET @HasClasses = 1;
       
    RETURN @HasClasses;
END;
GO
