USE [u_szwagier]
GO
/****** Object:  View [dbo].[Ever_absent_students_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Ever_absent_students_view] AS
SELECT DISTINCT
    s.student_id,
    u.first_name,
    u.last_name
FROM Students s
JOIN Users u ON u.user_id=s.student_id
JOIN Attendance a ON s.student_id = a.student_id
WHERE a.attendance = 0;
GO
