USE [u_szwagier]
GO
/****** Object:  View [dbo].[Users_addresses_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Users_addresses_view] AS
SELECT
    u.first_name,
    u.last_name,
    u.email_address,
    u.street,
    u.zip_code,
    c.city,
    co.country
FROM Users u
JOIN City c ON u.city_id = c.city_id
JOIN Country co ON c.country_id = co.country_id;


GO
