USE [u_szwagier]
GO
/****** Object:  View [dbo].[Time_Conflicts_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Time_Conflicts_View] AS
SELECT DISTINCT
    sa1.student_id,
    m1.meeting_id AS meeting1_id,
    m2.meeting_id AS meeting2_id,
    os1.start_time AS meeting1_start,
    os1.end_time AS meeting1_end,
    os2.start_time AS meeting2_start,
    os2.end_time AS meeting2_end
FROM Student_activities sa1
JOIN Student_activities sa2 ON sa1.student_id = sa2.student_id
JOIN Meetings m1 ON sa1.activity_id = m1.activity_id
JOIN Meetings m2 ON sa2.activity_id = m2.activity_id
JOIN Online_synchronous os1 ON m1.meeting_id = os1.meeting_id
JOIN Online_synchronous os2 ON m2.meeting_id = os2.meeting_id
WHERE
    m1.meeting_id < m2.meeting_id
    AND os1.start_time < os2.end_time
    AND os2.start_time < os1.end_time
    AND os1.start_time > GETDATE();
GO
