USE [u_szwagier]
GO
/****** Object:  View [dbo].[Tutor_studies_date_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Tutor_studies_date_view] AS
SELECT DISTINCT
    u.user_id,
    u.first_name,
    u.last_name,
    u.email_address,
    s.studies_id,
    s.studies_name,
    scn.course_name,
    s.semester
FROM Users u
JOIN Tutor t ON u.user_id = t.user_id
JOIN Study_courses sc ON t.user_id = sc.tutor_id
JOIN Studies s ON sc.studies_id = s.studies_id
JOIN Study_courses_names scn ON sc.study_course_id = scn.study_course_id;
GO
