USE [u_szwagier]
GO
/****** Object:  View [dbo].[Low_attendance_students_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Low_attendance_students_view] AS
SELECT
    a.student_id,
    s.studies_name as activity_name,
	s.activity_id,
    SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) as attendance_percentage
FROM Attendance a
JOIN Meetings m ON m.meeting_id = a.meeting_id
JOIN Study_courses sc
ON m.activity_id = sc.activity_id
JOIN Studies s
ON s.studies_id = sc.studies_id
GROUP BY a.student_id, s.studies_name, s.activity_id
HAVING SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) < 80


UNION


SELECT
    a.student_id,
	c.course_name as activity_name,
    c.activity_id,
    SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) as attendance_percentage
FROM Attendance a
JOIN Meetings m ON m.meeting_id = a.meeting_id
JOIN Course_modules cm
on m.activity_id = cm.activity_id
JOIN Courses c
on cm.course_id = c.course_id
GROUP BY a.student_id, c.course_name, c.activity_id
HAVING SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) * 100.0 / COUNT(*) < 80
GO
