USE [u_szwagier]
GO
/****** Object:  View [dbo].[Unassigned_translators_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Unassigned_translators_view] AS
SELECT DISTINCT 
t.user_id, 
u.first_name, 
u.last_name
FROM Translator t
JOIN Users u ON t.user_id = u.user_id
WHERE NOT EXISTS
(
    SELECT 1 FROM Meetings m WHERE m.translator_id = t.user_id
);
GO
