USE [u_szwagier]
GO
/****** Object:  View [dbo].[Activities_to_buy_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Utwórz widok z nową definicją
CREATE VIEW [dbo].[Activities_to_buy_view] AS
SELECT
    a.activity_id,
    COALESCE(c.course_name, w.webinar_name, s.studies_name, scn.course_name) AS activity_name
FROM Activities a
LEFT JOIN Courses c 
    ON a.activity_id = c.activity_id
LEFT JOIN Webinar w 
    ON a.activity_id = w.activity_id
LEFT JOIN Studies s 
    ON a.activity_id = s.activity_id
LEFT JOIN Study_courses sc 
    ON a.activity_id = sc.activity_id
LEFT JOIN Study_courses_names scn 
    ON scn.study_course_id = sc.study_course_id
LEFT JOIN Meetings m 
    ON a.activity_id = m.activity_id
LEFT JOIN Stationary st 
    ON m.meeting_id = st.meeting_id
LEFT JOIN Online_synchronous os 
    ON m.meeting_id = os.meeting_id
WHERE a.to_buy = 1
  AND (
        -- Sprawdzamy daty spotkań powiązanych z aktywnością
        (st.start_time >= CAST(GETDATE() AS DATETIME)) OR
        (os.start_time >= CAST(GETDATE() AS DATETIME))
      );
GO
