USE [u_szwagier]
GO
/****** Object:  View [dbo].[Cities_countries_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Cities_countries_view] AS
SELECT DISTINCT
    ci.city,
    co.country
FROM Users u
JOIN City ci ON u.city_id = ci.city_id
JOIN Country co ON ci.country_id = co.country_id;
GO
