USE [u_szwagier]
GO
/****** Object:  View [dbo].[Activity_Revenue_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Activity_Revenue_View] AS
SELECT
    'Webinar' AS activity_type,
    w.webinar_name AS name,
    COALESCE(SUM(od.price), 0) AS total_revenue
FROM Webinar w
LEFT JOIN Order_details od ON w.activity_id = od.activity_id
GROUP BY w.activity_id, w.webinar_name
UNION ALL
SELECT
    'Course' AS activity_type,
    c.course_name,
    COALESCE(SUM(od.price), 0) AS total_revenue
FROM Courses c
LEFT JOIN Order_details od ON c.activity_id = od.activity_id
GROUP BY c.activity_id, c.course_name
UNION ALL
SELECT
    'Studies' AS activity_type,
    s.studies_name,
    COALESCE(SUM(od.price), 0) AS total_revenue
FROM Studies s
LEFT JOIN Order_details od ON s.activity_id = od.activity_id
GROUP BY s.activity_id, s.studies_name;
GO
