USE [u_szwagier]
GO
/****** Object:  View [dbo].[Meeting_details_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Meeting_details_view] AS
SELECT
    m.*,
    os.start_time AS online_sync_start,
    os.end_time AS online_sync_end,
    os.recording_URL_address AS online_sync_recording,
    p.platform_URL_address,
    oa.recording_URL_address AS async_recording,
    s.start_time AS stationary_start,
    s.end_time AS stationary_end,
    c.classroom_name
FROM Meetings m
LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
LEFT JOIN Platforms p ON os.platform_id = p.platform_id
LEFT JOIN Online_asynchronous oa ON m.meeting_id = oa.meeting_id
LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
LEFT JOIN Classrooms c ON s.classroom_id = c.classroom_id;
GO
