USE [u_szwagier]
GO
/****** Object:  View [dbo].[Perfect_Attendance_Students_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Perfect_Attendance_Students_View] AS
SELECT DISTINCT
    s.student_id
FROM Students s
JOIN Attendance a ON s.student_id = a.student_id
GROUP BY s.student_id
HAVING MIN(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) = 1;
GO
