USE [u_szwagier]
GO
/****** Object:  View [dbo].[Future_Event_Registrations_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Future_Event_Registrations_View] AS
SELECT
    CASE
        WHEN s.meeting_id IS NOT NULL THEN 'Stationary'
        WHEN os.meeting_id IS NOT NULL THEN 'Online'
        ELSE 'Asynchronous'
    END AS event_type,
    COUNT(DISTINCT sa.student_id) AS registered_students,
    COALESCE(os.start_time, s.start_time) AS event_start
FROM Student_activities sa
JOIN Meetings m ON sa.activity_id = m.activity_id
LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
WHERE COALESCE(os.start_time, s.start_time) > GETDATE()
GROUP BY
    CASE
        WHEN s.meeting_id IS NOT NULL THEN 'Stationary'
        WHEN os.meeting_id IS NOT NULL THEN 'Online'
        ELSE 'Asynchronous'
    END,
    COALESCE(os.start_time, s.start_time);
GO
