USE [u_szwagier]
GO
/****** Object:  View [dbo].[Unpaid_Activities_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Unpaid_Activities_View] AS
SELECT
    u.user_id,
    u.first_name,
    u.last_name,
    od.activity_id,
    od.price
FROM Users u
JOIN Orders o ON u.user_id = o.student_id
JOIN Order_details od ON o.order_id = od.order_id
WHERE od.payment_date IS NULL;
GO
