USE [u_szwagier]
GO
/****** Object:  View [dbo].[Tutor_internships_data_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Tutor_internships_data_view] AS
SELECT DISTINCT
    u.user_id,
    u.first_name,
    u.last_name,
    u.email_address,
    s.studies_id,
    s.studies_name,
    s.semester
FROM Users u
JOIN Tutor t ON u.user_id = t.user_id
JOIN Internships i ON t.user_id = i.coordinator_id
JOIN Studies s ON i.studies_id = s.studies_id;
GO
