USE [u_szwagier]
GO
/****** Object:  View [dbo].[Past_Full_Stationary_Meetings_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Past_Full_Stationary_Meetings_View] AS
SELECT
    s.meeting_id
FROM Stationary s
JOIN Classrooms c ON s.classroom_id = c.classroom_id
WHERE 
    s.places_occupied = c.place_limit
    AND s.start_time <= GETDATE();
GO
