USE [u_szwagier]
GO
/****** Object:  View [dbo].[Translators_languages_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Translators_languages_view] AS
SELECT
    u.first_name,
    u.last_name,
    u.email_address,
    l.language
FROM Translator t
JOIN Users u ON t.user_id = u.user_id
JOIN Languages l ON t.known_language_id = l.language_id;
GO
