USE [u_szwagier]
GO
/****** Object:  View [dbo].[Non_purchasing_users_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Non_purchasing_users_view] AS
SELECT u.*
FROM Users u
LEFT JOIN Orders o ON u.user_id = o.student_id
WHERE o.order_id IS NULL;
GO
