USE [u_szwagier]
GO
/****** Object:  View [dbo].[Course_Time_Frames_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Course_Time_Frames_View] AS
SELECT
    c.course_id,
    c.course_name,
    MIN(os.start_time) AS course_start,
    MAX(os.end_time) AS course_end
FROM Courses c
JOIN Course_modules cm ON c.course_id = cm.course_id
JOIN Meetings m ON cm.activity_id = m.activity_id
JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
GROUP BY c.course_id, c.course_name;
GO
