USE [u_szwagier]
GO
/****** Object:  View [dbo].[Completed_Event_Attendance_View]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Completed_Event_Attendance_View] AS
SELECT
    m.meeting_id,
    COUNT(DISTINCT a.student_id) AS total_students,
    SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) AS attended_students,
    CAST(SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) AS FLOAT) /
    COUNT(DISTINCT a.student_id) * 100 AS attendance_percentage
FROM Meetings m
JOIN Attendance a ON m.meeting_id = a.meeting_id
LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
WHERE COALESCE(os.end_time, s.end_time) < GETDATE()
GROUP BY m.meeting_id;
GO
