USE [u_szwagier]
GO
/****** Object:  View [dbo].[Unassigned_tutors_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Unassigned_tutors_view] AS
SELECT 
t.user_id, 
u.first_name, 
u.last_name
FROM Tutor t
JOIN Users u ON t.user_id = u.user_id
WHERE NOT EXISTS
(
    SELECT 1 FROM Study_courses sc WHERE sc.tutor_id = t.user_id
    UNION
    SELECT 1 FROM Internships i WHERE i.coordinator_id = t.user_id
);
GO
