USE [u_szwagier]
GO
/****** Object:  View [dbo].[Upcoming_webinars_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Upcoming_webinars_view] AS
SELECT
    w.activity_id,
    w.webinar_name,
    os.start_time,
    os.end_time
FROM Webinar w
JOIN Meetings m ON w.activity_id = m.activity_id
JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
WHERE os.start_time > GETDATE();
GO
