USE [u_szwagier]
GO
/****** Object:  View [dbo].[Administration_roles_view]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Administration_roles_view] AS
SELECT
    u.first_name,
    u.last_name,
    u.email_address,
    r.role_name
FROM Administration_employees ae
JOIN Users u ON ae.user_id = u.user_id
JOIN Roles r ON ae.role_id = r.role_id;
GO
