USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[updateCourse]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateCourse]
    @course_id INT,
    @course_name NVARCHAR(64),
    @price_for_course MONEY,
    @place_limit INT,
    @entry_fee INT
AS
BEGIN
    UPDATE Courses
    SET course_name = @course_name,
        price_for_course = @price_for_course,
        place_limit = @place_limit,
        entry_fee = @entry_fee
    WHERE course_id = @course_id
END;
GO
