USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[removeGrade]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[removeGrade]
    @student_id INT,
    @activity_id INT
AS
BEGIN
    UPDATE Student_activities
    SET grade = NULL
    WHERE student_id = @student_id AND activity_id = @activity_id
END;
GO
