USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddOnlineSynchronousMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOnlineSynchronousMeeting]
    @activity_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @start_time DATETIME,
    @end_time DATETIME,
    @recording_URL_address NVARCHAR(64),
    @platform_id INT
AS
BEGIN
    DECLARE @meeting_id INT

    INSERT INTO Meetings (activity_id, translator_id, language_id)
    VALUES (@activity_id, @translator_id, @language_id)
            
    SET @meeting_id = SCOPE_IDENTITY()

    INSERT INTO Online_synchronous (
        meeting_id,
        start_time,
        end_time,
        recording_URL_address,
        platform_id
    )
    VALUES (
        @meeting_id,
        @start_time,
        @end_time,
        @recording_URL_address,
        @platform_id
    )

    SELECT @meeting_id AS MeetingId       
END;
GO
