USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudentAttendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudentAttendance]
    @StudentId int
AS
BEGIN
    SELECT
        m.activity_id, COALESCE(co.course_name, scn.course_name, w.webinar_name) as activity_name,
        COUNT(*) AS total_meetings,
        SUM(CASE WHEN a.attendance = 1 THEN 1 ELSE 0 END) AS attended_meetings
    FROM Meetings m
    JOIN Attendance a ON m.meeting_id = a.meeting_id
	LEFT JOIN Course_modules as cm
	on m.activity_id = cm.activity_id
	LEFT JOIN Study_courses as sc
	on m.activity_id = sc.activity_id
	LEFT JOIN Study_courses_names scn
	on sc.study_course_id = scn.study_course_id
	LEFT JOIN Courses as co
	on cm.course_id = co.course_id
	LEFT JOIN Webinar as w
	on m.activity_id = w.activity_id
    WHERE a.student_id = @StudentId
    GROUP BY m.activity_id, co.course_name, scn.course_name, w.webinar_name;
END;
GO
