USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[addGrade]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addGrade]
    @student_id INT,
    @activity_id INT,
    @grade FLOAT
AS
BEGIN
    INSERT INTO Student_activities (student_id, activity_id, grade)
    VALUES (@student_id, @activity_id, @grade)
END;
GO
