USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOrderDetails]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOrderDetails]
    @order_id INT,
    @activity_id INT,
    @description NVARCHAR(64),
    @price MONEY,
    @payment_date DATETIME = NULL
AS
BEGIN
    UPDATE Order_details
    SET description = @description,
        price = @price,
        payment_date = @payment_date
    WHERE order_id = @order_id
    AND activity_id = @activity_id
END;
GO
