USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[removeAttendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[removeAttendance]
    @meeting_id INT,
    @student_id INT
AS
BEGIN
    DELETE FROM Attendance
    WHERE meeting_id = @meeting_id AND student_id = @student_id
END;
GO
