USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[DeleteAdminEmployee]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAdminEmployee]
    @admin_id INT
AS
BEGIN
    DELETE FROM Administration_employees WHERE user_id = @admin_id
    DELETE FROM Users WHERE user_id = @admin_id
END;

GO
