USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getMeetingAttendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMeetingAttendance]
    @MeetingId int
AS
BEGIN
    SELECT
        m.meeting_id,
        COALESCE(os.start_time, s.start_time) AS meeting_date,
        u.first_name,
        u.last_name,
        a.attendance
    FROM Meetings m
    JOIN Attendance a ON m.meeting_id = a.meeting_id
    JOIN Users u ON a.student_id = u.user_id
    LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
    LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
    WHERE m.meeting_id = @MeetingId
    ORDER BY u.last_name, u.first_name;
END;
GO
