USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOnlineAsynchronousMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOnlineAsynchronousMeeting]
    @meeting_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @recording_URL_address NVARCHAR(64)
AS
BEGIN
            UPDATE Meetings
            SET translator_id = @translator_id,
                language_id = @language_id
            WHERE meeting_id = @meeting_id

            UPDATE Online_asynchronous
            SET recording_URL_address = @recording_URL_address
            WHERE meeting_id = @meeting_id
END;
GO
