USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[DeleteMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteMeeting]
    @meeting_id INT
AS
BEGIN
    DELETE FROM Meetings WHERE meeting_id = @meeting_id
    DELETE FROM Stationary WHERE meeting_id = @meeting_id
    DELETE FROM Online_synchronous WHERE meeting_id = @meeting_id
    DELETE FROM Online_asynchronous WHERE meeting_id = @meeting_id
END;
GO
