USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudiesSemesterDates]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudiesSemesterDates]
    @StudiesId int
AS
BEGIN
    SELECT
        s.start_date AS semester_start,
        s.end_date AS semester_end
    FROM Studies st
    JOIN Semesters s ON st.semester = s.semester
    WHERE st.studies_id = @StudiesId;
END;
GO
