USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[deleteCourse]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteCourse]
    @course_id INT
AS
BEGIN
    DECLARE @activity_id INT
   
    SELECT @activity_id = activity_id FROM Courses WHERE course_id = @course_id
   
    DELETE FROM Course_modules WHERE course_id = @course_id
    DELETE FROM Courses WHERE course_id = @course_id
    DELETE FROM Activities WHERE activity_id = @activity_id
END;
GO
