USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[deleteWebinar]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteWebinar]
    @activity_id INT
AS
BEGIN
    DELETE FROM Webinar WHERE activity_id = @activity_id
    DELETE FROM Activities WHERE activity_id = @activity_id
END;
GO
