USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getCourseModules]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getCourseModules]
    @CourseId int
AS
BEGIN
    SELECT
        cm.module_type_id,
        mt.module_type,
        COUNT(m.meeting_id) AS meetings_count
    FROM Course_modules cm
    JOIN Module_type mt ON cm.module_type_id = mt.module_type_id
    LEFT JOIN Meetings m ON cm.activity_id = m.activity_id
    WHERE cm.course_id = @CourseId
    GROUP BY cm.module_type_id, mt.module_type;
END;
GO
