USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTutor]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTutor]
    @tutor_id INT
AS
BEGIN
    DELETE FROM Tutor WHERE user_id = @tutor_id
    DELETE FROM Users WHERE user_id = @tutor_id
END;
GO
