USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[DeleteTranslator]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteTranslator]
    @translator_id INT
AS
BEGIN
    DELETE FROM Translator WHERE user_id = @translator_id
    DELETE FROM Users WHERE user_id = @translator_id
END;
GO
