USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[DeleteStudent]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteStudent]
    @student_id INT
AS
BEGIN
    DELETE FROM Students WHERE student_id = @student_id
    DELETE FROM Users WHERE user_id = @student_id
END;
GO
