USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[removeFromShoppingCart]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[removeFromShoppingCart]
    @student_id INT,
    @activity_id INT
AS
BEGIN
    DELETE FROM Shopping_cart
    WHERE student_id = @student_id AND activity_id = @activity_id
END;
GO
