USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddTranslator]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTranslator]
    @first_name NVARCHAR(32),
    @last_name NVARCHAR(32),
    @email_address NVARCHAR(320),
    @password NVARCHAR(32),
    @street NVARCHAR(64),
    @zip_code NVARCHAR(8),
    @city_id INT,
    @known_language_id INT
AS
BEGIN
    DECLARE @user_id INT


    INSERT INTO Users (
        first_name, last_name, email_address,
        password, street, zip_code, city_id
    )
    VALUES (
        @first_name, @last_name, @email_address,
        @password, @street, @zip_code, @city_id
    )
   
    SET @user_id = SCOPE_IDENTITY()


    INSERT INTO Translator (user_id, known_language_id)
    VALUES (@user_id, @known_language_id)
END;
GO
