USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[addAttendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addAttendance]
    @meeting_id INT,
    @student_id INT,
    @attendance BIT
AS
BEGIN
    INSERT INTO Attendance (meeting_id, student_id, attendance)
    VALUES (@meeting_id, @student_id, @attendance)
END;
GO
