USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudentPurchases]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudentPurchases]
    @StudentId int
AS
BEGIN
    SELECT
        o.order_id,
        od.activity_id,
        od.description,
        od.price,
        od.payment_date
    FROM Orders o
    JOIN Order_details od ON o.order_id = od.order_id
    WHERE o.student_id = @StudentId;
END;
GO
