USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddCourseWithModules]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCourseWithModules]
    @course_activity_id INT,
	@course_name NVARCHAR(64),
    @price_for_course MONEY,
    @place_limit INT,
    @entry_fee INT,
    @module1_type_id SMALLINT,
	@module1_activity_id INT,
    @module2_type_id SMALLINT,
	@module2_activity_id INT,
    @module3_type_id SMALLINT,
	@module3_activity_id INT,
    @module4_type_id SMALLINT,
	@module4_activity_id INT
AS
BEGIN

        BEGIN TRANSACTION
            DECLARE @course_id INT

            -- Create main activity for the course
            INSERT INTO Activities (activity_id, to_buy)
            VALUES (@course_activity_id, 1)

            -- Create activities for additional modules
			INSERT INTO Activities (activity_id, to_buy)
            VALUES (@module1_activity_id, 0)

            INSERT INTO Activities (activity_id, to_buy)
            VALUES (@module2_activity_id, 0)

            INSERT INTO Activities (activity_id, to_buy)
            VALUES (@module3_activity_id, 0)

            INSERT INTO Activities (activity_id, to_buy)
            VALUES (@module4_activity_id, 0)

            -- Create the course
            INSERT INTO Courses (
                activity_id,
                course_name,
                price_for_course,
                place_limit,
                entry_fee,
                places_occupied
            )
            VALUES (
                @course_activity_id,
                @course_name,
                @price_for_course,
                @place_limit,
                @entry_fee,
                0
            )
            SET @course_id = SCOPE_IDENTITY()

            -- Create course modules
            -- Module 1
            INSERT INTO Course_modules (
                activity_id,
                course_id,
                module_type_id
            )
            VALUES (
                @module1_activity_id,
                @course_id,
                @module1_type_id
            )

            -- Module 2
            INSERT INTO Course_modules (
                activity_id,
                course_id,
                module_type_id
            )
            VALUES (
                @module2_activity_id,
                @course_id,
                @module2_type_id
            )

            -- Module 3
            INSERT INTO Course_modules (
                activity_id,
                course_id,
                module_type_id
            )
            VALUES (
                @module3_activity_id,
                @course_id,
                @module3_type_id
            )

            -- Module 4
            INSERT INTO Course_modules (
                activity_id,
                course_id,
                module_type_id
            )
            VALUES (
                @module4_activity_id,
                @course_id,
                @module4_type_id
            )
END;
GO
