USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateOnlineSynchronousMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateOnlineSynchronousMeeting]
    @meeting_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @start_time DATETIME,
    @end_time DATETIME,
    @recording_URL_address NVARCHAR(64),
    @platform_id INT
AS
BEGIN
            UPDATE Meetings
            SET translator_id = @translator_id,
                language_id = @language_id
            WHERE meeting_id = @meeting_id

            UPDATE Online_synchronous
            SET start_time = @start_time,
                end_time = @end_time,
                recording_URL_address = @recording_URL_address,
                platform_id = @platform_id
            WHERE meeting_id = @meeting_id
END;
GO
