USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[createOrderFromCart]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[createOrderFromCart]
    @student_id INT
AS
BEGIN
    DECLARE @order_id INT
    DECLARE @current_date DATETIME = GETDATE()


    -- Create new order
    INSERT INTO Orders (student_id, order_date)
    VALUES (@student_id, @current_date)
   
    SET @order_id = SCOPE_IDENTITY()


    -- Move items from cart to order details
    INSERT INTO Order_details (order_id, activity_id, description, price)
    SELECT
        @order_id,
        sc.activity_id,
        COALESCE(c.course_name, w.webinar_name, s.studies_name, 'Activity'),
        COALESCE(c.price_for_course, w.price_for_webinar, s.price_for_studies_module, 0)
    FROM Shopping_cart sc
    LEFT JOIN Courses c ON sc.activity_id = c.activity_id
    LEFT JOIN Webinar w ON sc.activity_id = w.activity_id
    LEFT JOIN Studies s ON sc.activity_id = s.activity_id
    WHERE sc.student_id = @student_id


    -- Clear the cart
    DELETE FROM Shopping_cart
    WHERE student_id = @student_id
END;
GO
