USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddOnlineAsynchronousMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOnlineAsynchronousMeeting]
    @activity_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @recording_URL_address NVARCHAR(64)
AS
BEGIN
            DECLARE @meeting_id INT

            INSERT INTO Meetings (activity_id, translator_id, language_id)
            VALUES (@activity_id, @translator_id, @language_id)
            
            SET @meeting_id = SCOPE_IDENTITY()

            INSERT INTO Online_asynchronous (
                meeting_id,
                recording_URL_address
            )
            VALUES (
                @meeting_id,
                @recording_URL_address
            )

            SELECT @meeting_id AS MeetingId
END;
GO
