USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getMeetingsByLanguage]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getMeetingsByLanguage]
    @LanguageName nvarchar(32)
AS
BEGIN
    SELECT
        m.meeting_id,
        COALESCE(os.start_time, s.start_time) AS start_time,
        COALESCE(os.end_time, s.end_time) AS end_time
    FROM Meetings m
    JOIN Translator t ON m.translator_id = t.user_id
    JOIN Languages l ON t.known_language_id = l.language_id
    LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
    LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
    WHERE l.language = @LanguageName;
END;
GO
