USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[updateAttendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateAttendance]
    @meeting_id INT,
    @student_id INT,
    @attendance BIT
AS
BEGIN
    UPDATE Attendance
    SET attendance = @attendance
    WHERE meeting_id = @meeting_id AND student_id = @student_id
END;
GO
