USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[updateStudies]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateStudies]
    @studies_id INT,
    @studies_name NVARCHAR(64),
    @price_for_module MONEY,
    @entry_fee MONEY,
    @place_limit INT
AS
BEGIN
    UPDATE Studies
    SET studies_name = @studies_name,
        price_for_studies_module = @price_for_module,
        entry_fee = @entry_fee,
        place_limit = @place_limit
    WHERE studies_id = @studies_id
END;
GO
