USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudentsByCountry]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudentsByCountry]
    @CountryName nvarchar(32)
AS
BEGIN
    SELECT DISTINCT
        s.student_id,
        u.first_name,
        u.last_name
    FROM Students s
    JOIN Users u ON s.student_id = u.user_id
    JOIN City c ON u.city_id = c.city_id
    JOIN Country co ON c.country_id = co.country_id
    WHERE co.country = @CountryName;
END;
GO
