USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[deleteStudies]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[deleteStudies]
    @studies_id INT
AS
BEGIN
    DECLARE @activity_id INT
   
    SELECT @activity_id = activity_id FROM Studies WHERE studies_id = @studies_id
   
    DELETE FROM Study_courses WHERE studies_id = @studies_id
    DELETE FROM Studies WHERE studies_id = @studies_id
    DELETE FROM Activities WHERE activity_id = @activity_id
END;
GO
