USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddMeeting]
    @activity_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL
AS
BEGIN
    INSERT INTO Meetings (activity_id, translator_id, language_id)
    VALUES (@activity_id, @translator_id, @language_id)
END;
GO
