USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudiesWithCourse]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudiesWithCourse]
    @StudyCourseId int
AS
BEGIN
    SELECT DISTINCT
        s.studies_id,
        s.studies_name,
        s.semester
    FROM Studies s
    JOIN Study_courses sc ON s.studies_id = sc.studies_id
    WHERE sc.study_course_id = @StudyCourseId;
END;
GO
