USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStudent]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStudent]
    @student_id INT,
    @first_name NVARCHAR(32),
    @last_name NVARCHAR(32),
    @email_address NVARCHAR(320),
    @street NVARCHAR(64),
    @zip_code NVARCHAR(8),
    @city_id INT
AS
BEGIN
    UPDATE Users
    SET first_name = @first_name,
        last_name = @last_name,
        email_address = @email_address,
        street = @street,
        zip_code = @zip_code,
        city_id = @city_id
    WHERE user_id = @student_id
END;
GO
