USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[ViewStudentGrades]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ViewStudentGrades]
    @student_id INT
AS
BEGIN
    SELECT
        sa.activity_id,
        COALESCE(c.course_name, w.webinar_name, s.studies_name, 'Activity') as activity_name,
        sa.grade
    FROM Student_activities sa
    LEFT JOIN Courses c ON sa.activity_id = c.activity_id
    LEFT JOIN Webinar w ON sa.activity_id = w.activity_id
    LEFT JOIN Studies s ON sa.activity_id = s.activity_id
    WHERE sa.student_id = @student_id
    AND sa.grade IS NOT NULL
    ORDER BY sa.grade DESC
END;
GO
