USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[addStudies]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addStudies]
    @studies_name NVARCHAR(64),
    @price_for_module MONEY,
    @entry_fee MONEY,
    @place_limit INT,
    @semester INT,
    @activity_id INT
AS
BEGIN


    INSERT INTO Activities (activity_id, to_buy)
    VALUES (@activity_id, 1)
   


    INSERT INTO Studies (
        activity_id,  price_for_studies_module,
        entry_fee, places_occupied, place_limit, semester, studies_name
    )
    VALUES (
        @activity_id,  @price_for_module,
        @entry_fee, 0, @place_limit,  @semester, @studies_name
    )
END;
GO
