USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[addWebinar]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addWebinar]
    @webinar_name NVARCHAR(64),
    @price_for_webinar MONEY,
    @activity_id INT
AS
BEGIN


    INSERT INTO Activities (activity_id, to_buy)
    VALUES (@activity_id, 1)
   


    INSERT INTO Webinar (activity_id, webinar_name, price_for_webinar)
    VALUES (@activity_id, @webinar_name, @price_for_webinar)
END;
GO
