USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[changeUserPassword]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[changeUserPassword]
    @user_id INT,
    @new_password NVARCHAR(32)
AS
BEGIN
    UPDATE Users
    SET password = @new_password
    WHERE user_id = @user_id
END;
GO
