USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[updateWebinar]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[updateWebinar]
    @activity_id INT,
    @webinar_name NVARCHAR(64),
    @price_for_webinar MONEY
AS
BEGIN
    UPDATE Webinar
    SET webinar_name = @webinar_name,
        price_for_webinar = @price_for_webinar
    WHERE activity_id = @activity_id
END;
GO
