USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getTutorSchedule]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTutorSchedule]
    @TutorId int
AS
BEGIN
    SELECT
        m.meeting_id,
        COALESCE(os.start_time, s.start_time) AS start_time,
        COALESCE(os.end_time, s.end_time) AS end_time
    FROM Study_courses sc
    JOIN Meetings m ON sc.activity_id = m.activity_id
    LEFT JOIN Online_synchronous os ON m.meeting_id = os.meeting_id
    LEFT JOIN Stationary s ON m.meeting_id = s.meeting_id
    WHERE sc.tutor_id = @TutorId
    ORDER BY COALESCE(os.start_time, s.start_time);
END;
GO
