USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateStationaryMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateStationaryMeeting]
    @meeting_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @start_time DATETIME,
    @end_time DATETIME,
    @classroom_id INT,
    @places_occupied INT
AS
BEGIN
            UPDATE Meetings
            SET translator_id = @translator_id,
                language_id = @language_id
            WHERE meeting_id = @meeting_id

            UPDATE Stationary
            SET start_time = @start_time,
                end_time = @end_time,
                classroom_id = @classroom_id,
                places_occupied = @places_occupied
            WHERE meeting_id = @meeting_id
END;
GO
