USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[UpdateMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateMeeting]
    @meeting_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL
AS
BEGIN
    UPDATE Meetings
    SET translator_id = @translator_id,
        language_id = @language_id
    WHERE meeting_id = @meeting_id
END;
GO
