USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[GetStudentGradeAverage]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetStudentGradeAverage]
    @student_id INT
AS
BEGIN
    SELECT
        @student_id as student_id,
        AVG(grade) as average_grade,
        COUNT(grade) as total_grades
    FROM Student_activities
    WHERE student_id = @student_id
    AND grade IS NOT NULL
END;
GO
