USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudentCart]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudentCart]
    @StudentId int
AS
BEGIN
    SELECT
        sc.activity_id,
        COALESCE(c.course_name, w.webinar_name, s.studies_name, stcn.course_name) as activity_name
    FROM Shopping_cart sc
    LEFT JOIN Courses c ON sc.activity_id = c.activity_id
    LEFT JOIN Webinar w ON sc.activity_id = w.activity_id
    LEFT JOIN Studies s ON sc.activity_id = s.activity_id
    LEFT JOIN Study_courses stc ON sc.activity_id = stc.activity_id
    LEFT JOIN Study_courses_names stcn ON stc.study_course_id = stcn.study_course_id
    WHERE sc.student_id = @StudentId;
END;
GO
