USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[AddStationaryMeeting]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddStationaryMeeting]
    @activity_id INT,
    @translator_id INT = NULL,
    @language_id INT = NULL,
    @start_time DATETIME,
    @end_time DATETIME,
    @classroom_id INT,
    @places_occupied INT = 0
AS
BEGIN

    DECLARE @meeting_id INT

    INSERT INTO Meetings (activity_id, translator_id, language_id)
    VALUES (@activity_id, @translator_id, @language_id)
            
    SET @meeting_id = SCOPE_IDENTITY()

    INSERT INTO Stationary (
        meeting_id,
        start_time,
        end_time,
        classroom_id,
        places_occupied
    )
    VALUES (
        @meeting_id,
        @start_time,
        @end_time,
        @classroom_id,
        @places_occupied
    )

    SELECT @meeting_id AS MeetingId      
END;
GO
