USE [u_szwagier]
GO
/****** Object:  StoredProcedure [dbo].[getStudiesCourses]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getStudiesCourses]
    @StudiesId int
AS
BEGIN
    SELECT
        sc.study_course_id,
        scn.course_name,
        u.first_name + ' ' + u.last_name AS tutor_name
    FROM Study_courses sc
    JOIN Study_courses_names scn ON sc.study_course_id = scn.study_course_id
    JOIN Users u ON sc.tutor_id = u.user_id
    WHERE sc.studies_id = @StudiesId;
END;
GO
