USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Internships_attendance]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internships_attendance](
	[internships_day] [int] NOT NULL,
	[studies_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[date] [date] NOT NULL,
	[attendance] [bit] NOT NULL,
 CONSTRAINT [Internships_attendance_pk] PRIMARY KEY CLUSTERED 
(
	[internships_day] ASC,
	[studies_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [InternshipsAttendance_StudentID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [InternshipsAttendance_StudentID] ON [dbo].[Internships_attendance]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [InternshipsAttendance_StudiesID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [InternshipsAttendance_StudiesID] ON [dbo].[Internships_attendance]
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Internships_attendance] ADD  CONSTRAINT [Internships_attendance_default]  DEFAULT ((0)) FOR [attendance]
GO
ALTER TABLE [dbo].[Internships_attendance]  WITH CHECK ADD  CONSTRAINT [Internships_attendance_Internships] FOREIGN KEY([studies_id])
REFERENCES [dbo].[Internships] ([studies_id])
GO
ALTER TABLE [dbo].[Internships_attendance] CHECK CONSTRAINT [Internships_attendance_Internships]
GO
ALTER TABLE [dbo].[Internships_attendance]  WITH CHECK ADD  CONSTRAINT [Internships_attendance_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Internships_attendance] CHECK CONSTRAINT [Internships_attendance_Students]
GO
ALTER TABLE [dbo].[Internships_attendance]  WITH CHECK ADD  CONSTRAINT [Internships_attendance_date_check] CHECK  (([date]>='2020-01-01' AND [date]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Internships_attendance] CHECK CONSTRAINT [Internships_attendance_date_check]
GO
ALTER TABLE [dbo].[Internships_attendance]  WITH CHECK ADD  CONSTRAINT [Internships_attendance_day_check] CHECK  (([internships_day]>=(1) AND [internships_day]<=(14)))
GO
ALTER TABLE [dbo].[Internships_attendance] CHECK CONSTRAINT [Internships_attendance_day_check]
GO
