USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Course_modules]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course_modules](
	[activity_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[module_type_id] [smallint] NOT NULL,
 CONSTRAINT [Course_modules_pk] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [CourseModules_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [CourseModules_ActivityID] ON [dbo].[Course_modules]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CourseModules_CourseID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [CourseModules_CourseID] ON [dbo].[Course_modules]
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [CourseModules_ModuleTypeID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [CourseModules_ModuleTypeID] ON [dbo].[Course_modules]
(
	[module_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Course_modules]  WITH CHECK ADD  CONSTRAINT [Course_modules_Activities] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Course_modules] CHECK CONSTRAINT [Course_modules_Activities]
GO
ALTER TABLE [dbo].[Course_modules]  WITH CHECK ADD  CONSTRAINT [Course_modules_Courses] FOREIGN KEY([course_id])
REFERENCES [dbo].[Courses] ([course_id])
GO
ALTER TABLE [dbo].[Course_modules] CHECK CONSTRAINT [Course_modules_Courses]
GO
ALTER TABLE [dbo].[Course_modules]  WITH CHECK ADD  CONSTRAINT [Course_modules_Module_type] FOREIGN KEY([module_type_id])
REFERENCES [dbo].[Module_type] ([module_type_id])
GO
ALTER TABLE [dbo].[Course_modules] CHECK CONSTRAINT [Course_modules_Module_type]
GO
