USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[student_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
 CONSTRAINT [Orders_pk] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Orders_StudentID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Orders_StudentID] ON [dbo].[Orders]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_date]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [Orders_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [Orders_Students]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [chk_order_date] CHECK  (([order_date]>='2020-01-01' AND [order_date]<=getdate()))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [chk_order_date]
GO
