USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_id] [int] NOT NULL,
	[course_name] [nvarchar](64) NOT NULL,
	[price_for_course] [money] NOT NULL,
	[places_occupied] [int] NULL,
	[place_limit] [int] NULL,
	[entry_fee] [int] NOT NULL,
 CONSTRAINT [Courses_pk] PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Courses_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Courses_ActivityID] ON [dbo].[Courses]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses] ADD  CONSTRAINT [Courses_places_occupied_default]  DEFAULT ((0)) FOR [places_occupied]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [Courses_Events] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [Courses_Events]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [Courses_entry_fee] CHECK  (([entry_fee]>(0) AND [entry_fee]<[price_for_course]))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [Courses_entry_fee]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [Courses_price_for_course] CHECK  (([price_for_course]>(0) AND [price_for_course]<(10000)))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [Courses_price_for_course]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [CoursesPlaces_occupiedPlace_limit] CHECK  (([places_occupied] IS NULL AND [place_limit] IS NULL OR [places_occupied]<=[place_limit]))
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [CoursesPlaces_occupiedPlace_limit]
GO
