USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Student_activities]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_activities](
	[student_id] [int] NOT NULL,
	[activity_id] [int] NOT NULL,
	[grade] [real] NULL,
 CONSTRAINT [Student_activities_pk] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [StudentActivities_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudentActivities_ActivityID] ON [dbo].[Student_activities]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [StudentActivities_StudentID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudentActivities_StudentID] ON [dbo].[Student_activities]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Student_activities]  WITH CHECK ADD  CONSTRAINT [Student_activities_Events] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Student_activities] CHECK CONSTRAINT [Student_activities_Events]
GO
ALTER TABLE [dbo].[Student_activities]  WITH CHECK ADD  CONSTRAINT [Student_activities_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Student_activities] CHECK CONSTRAINT [Student_activities_Students]
GO
ALTER TABLE [dbo].[Student_activities]  WITH CHECK ADD  CONSTRAINT [Student_activities_grade_check] CHECK  (([grade]=(5.0) OR [grade]=(4.5) OR [grade]=(4.0) OR [grade]=(3.5) OR [grade]=(3.0) OR [grade]=(2.0) OR [grade] IS NULL))
GO
ALTER TABLE [dbo].[Student_activities] CHECK CONSTRAINT [Student_activities_grade_check]
GO
