USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Shopping_cart]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shopping_cart](
	[student_id] [int] NOT NULL,
	[activity_id] [int] NOT NULL,
 CONSTRAINT [Shopping_cart_pk] PRIMARY KEY CLUSTERED 
(
	[student_id] ASC,
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ShoppingCart_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [ShoppingCart_ActivityID] ON [dbo].[Shopping_cart]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ShoppingCart_StudentID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [ShoppingCart_StudentID] ON [dbo].[Shopping_cart]
(
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Shopping_cart]  WITH CHECK ADD  CONSTRAINT [Shopping_cart_Activities] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Shopping_cart] CHECK CONSTRAINT [Shopping_cart_Activities]
GO
ALTER TABLE [dbo].[Shopping_cart]  WITH CHECK ADD  CONSTRAINT [Shopping_cart_Students] FOREIGN KEY([student_id])
REFERENCES [dbo].[Students] ([student_id])
GO
ALTER TABLE [dbo].[Shopping_cart] CHECK CONSTRAINT [Shopping_cart_Students]
GO
