USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[activity_id] [int] NOT NULL,
	[to_buy] [bit] NOT NULL,
 CONSTRAINT [Activities_pk] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activities] ADD  CONSTRAINT [to_buy_default]  DEFAULT ((1)) FOR [to_buy]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [Activities_activity_id] CHECK  (([activity_id]>(0) OR [activity_id]<(100000)))
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [Activities_activity_id]
GO
