USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Online_synchronous]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Online_synchronous](
	[meeting_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[recording_URL_address] [nvarchar](64) NULL,
	[platform_id] [int] NOT NULL,
 CONSTRAINT [Online_synchronous_pk] PRIMARY KEY CLUSTERED 
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Online_synchronousRecording_URL_address] UNIQUE NONCLUSTERED 
(
	[recording_URL_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [OnlineSynchronoues_MeetingID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [OnlineSynchronoues_MeetingID] ON [dbo].[Online_synchronous]
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OnlineSynchronoues_PlatformID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [OnlineSynchronoues_PlatformID] ON [dbo].[Online_synchronous]
(
	[platform_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronous_Meetings] FOREIGN KEY([meeting_id])
REFERENCES [dbo].[Meetings] ([meeting_id])
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronous_Meetings]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronous_Platforms] FOREIGN KEY([platform_id])
REFERENCES [dbo].[Platforms] ([platform_id])
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronous_Platforms]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronousEnd_time] CHECK  (([end_time]>='2020-01-01' AND [end_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronousEnd_time]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronousMax_duration] CHECK  ((datediff(hour,[start_time],[end_time])<=(3)))
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronousMax_duration]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronousStart_time] CHECK  (([start_time]>='2020-01-01' AND [start_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronousStart_time]
GO
ALTER TABLE [dbo].[Online_synchronous]  WITH CHECK ADD  CONSTRAINT [Online_synchronousStart_timeEnd_time] CHECK  (([start_time]<[end_time]))
GO
ALTER TABLE [dbo].[Online_synchronous] CHECK CONSTRAINT [Online_synchronousStart_timeEnd_time]
GO
