USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Module_meetings]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module_meetings](
	[studies_id] [int] NOT NULL,
	[module_number] [int] NOT NULL,
	[meeting_id] [int] NOT NULL,
 CONSTRAINT [module_meetings_pk] PRIMARY KEY CLUSTERED 
(
	[studies_id] ASC,
	[module_number] ASC,
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [ModuleMeetings_MeetingID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [ModuleMeetings_MeetingID] ON [dbo].[Module_meetings]
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [ModuleMeetings_StudiesModule]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [ModuleMeetings_StudiesModule] ON [dbo].[Module_meetings]
(
	[studies_id] ASC,
	[module_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Module_meetings]  WITH CHECK ADD  CONSTRAINT [Module_meetings_Meetings] FOREIGN KEY([meeting_id])
REFERENCES [dbo].[Meetings] ([meeting_id])
GO
ALTER TABLE [dbo].[Module_meetings] CHECK CONSTRAINT [Module_meetings_Meetings]
GO
ALTER TABLE [dbo].[Module_meetings]  WITH CHECK ADD  CONSTRAINT [Module_meetings_Studies_module] FOREIGN KEY([studies_id], [module_number])
REFERENCES [dbo].[Studies_module] ([studies_id], [module_number])
GO
ALTER TABLE [dbo].[Module_meetings] CHECK CONSTRAINT [Module_meetings_Studies_module]
GO
