USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Studies_module]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studies_module](
	[studies_id] [int] NOT NULL,
	[module_number] [int] NOT NULL,
	[module_start] [date] NOT NULL,
	[module_end] [date] NOT NULL,
	[module_type_id] [smallint] NOT NULL,
	[places_occupied] [int] NOT NULL,
	[place_limit] [int] NOT NULL,
 CONSTRAINT [Studies_module_pk] PRIMARY KEY CLUSTERED 
(
	[studies_id] ASC,
	[module_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [StudiesModule_ModuleTypeID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudiesModule_ModuleTypeID] ON [dbo].[Studies_module]
(
	[module_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [StudiesModule_StudiesID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudiesModule_StudiesID] ON [dbo].[Studies_module]
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [Studies_module_Module_type] FOREIGN KEY([module_type_id])
REFERENCES [dbo].[Module_type] ([module_type_id])
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [Studies_module_Module_type]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [Table_51_Studies] FOREIGN KEY([studies_id])
REFERENCES [dbo].[Studies] ([studies_id])
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [Table_51_Studies]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_module_dates] CHECK  (([module_end]>[module_start]))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_module_dates]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_module_end] CHECK  (([module_end]>='2020-01-01' AND [module_end]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_module_end]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_module_number] CHECK  (([module_number]>=(1) AND [module_number]<=(7)))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_module_number]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_module_start] CHECK  (([module_start]>='2020-01-01' AND [module_start]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_module_start]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_place_limit] CHECK  (([place_limit]>(0) AND [place_limit]<=(10000)))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_place_limit]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [chk_places_occupied_limit] CHECK  (([places_occupied]>=(0) AND [places_occupied]<=[place_limit]))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [chk_places_occupied_limit]
GO
ALTER TABLE [dbo].[Studies_module]  WITH CHECK ADD  CONSTRAINT [Studies_modulePlaces_ocupiedPlace_limit] CHECK  (([places_occupied]<=[place_limit]))
GO
ALTER TABLE [dbo].[Studies_module] CHECK CONSTRAINT [Studies_modulePlaces_ocupiedPlace_limit]
GO
