USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[semester] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
 CONSTRAINT [Semesters_pk] PRIMARY KEY CLUSTERED 
(
	[semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [chk_end_date] CHECK  (([end_date]>='2020-01-01' AND [end_date]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [chk_end_date]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [chk_semester_id] CHECK  (([semester]>=(1) AND [semester]<=(10)))
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [chk_semester_id]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [chk_start_date] CHECK  (([start_date]>='2020-01-01' AND [start_date]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [chk_start_date]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [SemestersStart_timeEnd_time] CHECK  (([start_date]<[end_date]))
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [SemestersStart_timeEnd_time]
GO
