USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Webinar]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Webinar](
	[activity_id] [int] NOT NULL,
	[webinar_name] [nvarchar](64) NOT NULL,
	[price_for_webinar] [money] NOT NULL,
 CONSTRAINT [Webinar_pk] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Webinar_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Webinar_ActivityID] ON [dbo].[Webinar]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Webinar] ADD  CONSTRAINT [DF_Webinar_price_for_webinar]  DEFAULT ((0)) FOR [price_for_webinar]
GO
ALTER TABLE [dbo].[Webinar]  WITH CHECK ADD  CONSTRAINT [Webinar_Events] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Webinar] CHECK CONSTRAINT [Webinar_Events]
GO
ALTER TABLE [dbo].[Webinar]  WITH CHECK ADD  CONSTRAINT [chk_price_for_webinar] CHECK  (([price_for_webinar] IS NULL OR [price_for_webinar]>=(0) AND [price_for_webinar]<(200)))
GO
ALTER TABLE [dbo].[Webinar] CHECK CONSTRAINT [chk_price_for_webinar]
GO
