USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Order_details]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_details](
	[order_id] [int] NOT NULL,
	[activity_id] [int] NOT NULL,
	[description] [nvarchar](64) NOT NULL,
	[price] [money] NOT NULL,
	[payment_date] [datetime] NULL,
 CONSTRAINT [Order_details_pk] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[activity_id] ASC,
	[description] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [OrderDetails_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [OrderDetails_ActivityID] ON [dbo].[Order_details]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [OrderDetails_OrderID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [OrderDetails_OrderID] ON [dbo].[Order_details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [Order_details_Activities] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [Order_details_Activities]
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [chk_payment_date] CHECK  (([payment_date]<=getdate() OR [payment_date] IS NULL))
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [chk_payment_date]
GO
ALTER TABLE [dbo].[Order_details]  WITH CHECK ADD  CONSTRAINT [chk_price] CHECK  (([price]>=(0) AND [price]<=(5000)))
GO
ALTER TABLE [dbo].[Order_details] CHECK CONSTRAINT [chk_price]
GO
