USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Internships]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Internships](
	[studies_id] [int] NOT NULL,
	[coordinator_id] [int] NOT NULL,
 CONSTRAINT [Internships_pk] PRIMARY KEY CLUSTERED 
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Internships_CoordinatorID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Internships_CoordinatorID] ON [dbo].[Internships]
(
	[coordinator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Internships_StudiesID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Internships_StudiesID] ON [dbo].[Internships]
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Internships]  WITH CHECK ADD  CONSTRAINT [Internships_Studies] FOREIGN KEY([studies_id])
REFERENCES [dbo].[Studies] ([studies_id])
GO
ALTER TABLE [dbo].[Internships] CHECK CONSTRAINT [Internships_Studies]
GO
ALTER TABLE [dbo].[Internships]  WITH CHECK ADD  CONSTRAINT [Internships_Tutor] FOREIGN KEY([coordinator_id])
REFERENCES [dbo].[Tutor] ([user_id])
GO
ALTER TABLE [dbo].[Internships] CHECK CONSTRAINT [Internships_Tutor]
GO
