USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Study_courses]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Study_courses](
	[activity_id] [int] NOT NULL,
	[studies_id] [int] NOT NULL,
	[tutor_id] [int] NOT NULL,
	[study_course_id] [int] NOT NULL,
	[syllabus] [nvarchar](max) NULL,
	[price_for_study_course_meeting] [money] NOT NULL,
 CONSTRAINT [Study_courses_pk] PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [StudyCourses_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudyCourses_ActivityID] ON [dbo].[Study_courses]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [StudyCourses_StudiesID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudyCourses_StudiesID] ON [dbo].[Study_courses]
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [StudyCourses_StudyCourseID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudyCourses_StudyCourseID] ON [dbo].[Study_courses]
(
	[study_course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [StudyCourses_TutorID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [StudyCourses_TutorID] ON [dbo].[Study_courses]
(
	[tutor_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Study_courses]  WITH CHECK ADD  CONSTRAINT [Study_courses_Activity] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Study_courses] CHECK CONSTRAINT [Study_courses_Activity]
GO
ALTER TABLE [dbo].[Study_courses]  WITH CHECK ADD  CONSTRAINT [Study_courses_Studies] FOREIGN KEY([studies_id])
REFERENCES [dbo].[Studies] ([studies_id])
GO
ALTER TABLE [dbo].[Study_courses] CHECK CONSTRAINT [Study_courses_Studies]
GO
ALTER TABLE [dbo].[Study_courses]  WITH CHECK ADD  CONSTRAINT [Study_courses_Study_courses_names] FOREIGN KEY([study_course_id])
REFERENCES [dbo].[Study_courses_names] ([study_course_id])
GO
ALTER TABLE [dbo].[Study_courses] CHECK CONSTRAINT [Study_courses_Study_courses_names]
GO
ALTER TABLE [dbo].[Study_courses]  WITH CHECK ADD  CONSTRAINT [Study_courses_Tutor] FOREIGN KEY([tutor_id])
REFERENCES [dbo].[Tutor] ([user_id])
GO
ALTER TABLE [dbo].[Study_courses] CHECK CONSTRAINT [Study_courses_Tutor]
GO
ALTER TABLE [dbo].[Study_courses]  WITH CHECK ADD  CONSTRAINT [Study_courses_price] CHECK  (([price_for_study_course_meeting]>(0) AND [price_for_study_course_meeting]<(500)))
GO
ALTER TABLE [dbo].[Study_courses] CHECK CONSTRAINT [Study_courses_price]
GO
