USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Online_asynchronous]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Online_asynchronous](
	[meeting_id] [int] NOT NULL,
	[recording_URL_address] [nvarchar](64) NULL,
 CONSTRAINT [Online_asynchronous_pk] PRIMARY KEY CLUSTERED 
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Online_asynchronousRecording_URL_address] UNIQUE NONCLUSTERED 
(
	[recording_URL_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [OnlineAsynchronoues_MeetingID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [OnlineAsynchronoues_MeetingID] ON [dbo].[Online_asynchronous]
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Online_asynchronous]  WITH CHECK ADD  CONSTRAINT [Online_asynchronous_Meetings] FOREIGN KEY([meeting_id])
REFERENCES [dbo].[Meetings] ([meeting_id])
GO
ALTER TABLE [dbo].[Online_asynchronous] CHECK CONSTRAINT [Online_asynchronous_Meetings]
GO
