USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Classrooms]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classrooms](
	[classroom_id] [int] IDENTITY(1,1) NOT NULL,
	[classroom_name] [nvarchar](32) NOT NULL,
	[place_limit] [int] NOT NULL,
 CONSTRAINT [Classrooms_pk] PRIMARY KEY CLUSTERED 
(
	[classroom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [ClassroomsClassroom_name] UNIQUE NONCLUSTERED 
(
	[classroom_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classrooms]  WITH CHECK ADD  CONSTRAINT [Classrooms_place_limit] CHECK  (([place_limit]>(0) AND [place_limit]<(1000)))
GO
ALTER TABLE [dbo].[Classrooms] CHECK CONSTRAINT [Classrooms_place_limit]
GO
