USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Module_type]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Module_type](
	[module_type_id] [smallint] NOT NULL,
	[module_type] [nvarchar](32) NOT NULL,
 CONSTRAINT [Module_type_pk] PRIMARY KEY CLUSTERED 
(
	[module_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Module_typeModule_type] UNIQUE NONCLUSTERED 
(
	[module_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Module_type]  WITH CHECK ADD  CONSTRAINT [Module_type_type_check] CHECK  (([module_type_id]>=(1) AND [module_type_id]<=(100)))
GO
ALTER TABLE [dbo].[Module_type] CHECK CONSTRAINT [Module_type_type_check]
GO
