USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Studies]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studies](
	[studies_id] [int] IDENTITY(1,1) NOT NULL,
	[activity_id] [int] NOT NULL,
	[price_for_studies_module] [money] NOT NULL,
	[entry_fee] [money] NOT NULL,
	[places_occupied] [int] NULL,
	[place_limit] [int] NULL,
	[semester] [int] NOT NULL,
	[studies_name] [nvarchar](64) NULL,
 CONSTRAINT [Studies_pk] PRIMARY KEY CLUSTERED 
(
	[studies_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Studies_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Studies_ActivityID] ON [dbo].[Studies]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Studies_Semester]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Studies_Semester] ON [dbo].[Studies]
(
	[semester] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [Studies_Events] FOREIGN KEY([activity_id])
REFERENCES [dbo].[Activities] ([activity_id])
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [Studies_Events]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [Studies_Semesters] FOREIGN KEY([semester])
REFERENCES [dbo].[Semesters] ([semester])
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [Studies_Semesters]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesEntryFee] CHECK  (([entry_fee]>(0) AND [entry_fee]<=[price_for_studies_module]))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesEntryFee]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesPlaceLimit] CHECK  (([place_limit]>(0) AND [place_limit]<(100)))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesPlaceLimit]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesPlaces_occupiedPlace_limit] CHECK  (([places_occupied] IS NULL AND [place_limit] IS NULL OR [places_occupied]<=[place_limit]))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesPlaces_occupiedPlace_limit]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesPlacesOccupied] CHECK  (([places_occupied]>=(0) AND [places_occupied]<=[place_limit]))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesPlacesOccupied]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesPrice] CHECK  (([price_for_studies_module]>(0) AND [price_for_studies_module]<=(1000)))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesPrice]
GO
ALTER TABLE [dbo].[Studies]  WITH CHECK ADD  CONSTRAINT [StudiesSemester] CHECK  (((1)<=[semester] AND [semester]<=(10)))
GO
ALTER TABLE [dbo].[Studies] CHECK CONSTRAINT [StudiesSemester]
GO
