USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Stationary]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stationary](
	[meeting_id] [int] NOT NULL,
	[start_time] [datetime] NOT NULL,
	[end_time] [datetime] NOT NULL,
	[classroom_id] [int] NOT NULL,
	[places_occupied] [int] NOT NULL,
 CONSTRAINT [Stationary_pk] PRIMARY KEY CLUSTERED 
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Stationary_ClassroomID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Stationary_ClassroomID] ON [dbo].[Stationary]
(
	[classroom_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Stationary_MeetingID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Stationary_MeetingID] ON [dbo].[Stationary]
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stationary] ADD  CONSTRAINT [df_places_occupied_stationary]  DEFAULT ((0)) FOR [places_occupied]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [Stationary_Classrooms] FOREIGN KEY([classroom_id])
REFERENCES [dbo].[Classrooms] ([classroom_id])
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [Stationary_Classrooms]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [Stationary_Meetings] FOREIGN KEY([meeting_id])
REFERENCES [dbo].[Meetings] ([meeting_id])
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [Stationary_Meetings]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_duration] CHECK  ((datediff(hour,[start_time],[end_time])<=(3)))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_duration]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_duration_stationary] CHECK  ((datediff(hour,[start_time],[end_time])<=(3)))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_duration_stationary]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_end_time] CHECK  (([end_time]>='2020-01-01' AND [end_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_end_time]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_end_time_stationary] CHECK  (([end_time]>='2020-01-01' AND [end_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_end_time_stationary]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_places_occupied_stationary] CHECK  (([places_occupied]>=(0) AND [places_occupied]<=(120)))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_places_occupied_stationary]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_start_time] CHECK  (([start_time]>='2020-01-01' AND [start_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_start_time]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [chk_start_time_stationary] CHECK  (([start_time]>='2020-01-01' AND [start_time]<='2026-01-01'))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [chk_start_time_stationary]
GO
ALTER TABLE [dbo].[Stationary]  WITH CHECK ADD  CONSTRAINT [StationaryStart_timeEnd_time] CHECK  (([start_time]<[end_time]))
GO
ALTER TABLE [dbo].[Stationary] CHECK CONSTRAINT [StationaryStart_timeEnd_time]
GO
