USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Administration_employees]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administration_employees](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
 CONSTRAINT [Administration_employees_pk] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [AdministrationEmployees_RoleID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [AdministrationEmployees_RoleID] ON [dbo].[Administration_employees]
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [AdministrationEmployees_UserID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [AdministrationEmployees_UserID] ON [dbo].[Administration_employees]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administration_employees]  WITH CHECK ADD  CONSTRAINT [Administration_employees_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Administration_employees] CHECK CONSTRAINT [Administration_employees_Roles]
GO
ALTER TABLE [dbo].[Administration_employees]  WITH CHECK ADD  CONSTRAINT [Administration_employees_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Administration_employees] CHECK CONSTRAINT [Administration_employees_Users]
GO
