USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Meetings]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Meetings](
	[meeting_id] [int] IDENTITY(1,1) NOT NULL,
	[translator_id] [int] NULL,
	[language_id] [int] NULL,
	[activity_id] [int] NULL,
 CONSTRAINT [Meetings_pk] PRIMARY KEY CLUSTERED 
(
	[meeting_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Meetings_ActivityID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Meetings_ActivityID] ON [dbo].[Meetings]
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Meetings_Translator]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Meetings_Translator] ON [dbo].[Meetings]
(
	[translator_id] ASC,
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Meetings]  WITH CHECK ADD  CONSTRAINT [Meetings_Translator] FOREIGN KEY([translator_id], [language_id])
REFERENCES [dbo].[Translator] ([user_id], [known_language_id])
GO
ALTER TABLE [dbo].[Meetings] CHECK CONSTRAINT [Meetings_Translator]
GO
