USE [u_szwagier]
GO
/****** Object:  Table [dbo].[Translator]    Script Date: 22.10.2025 01:05:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Translator](
	[user_id] [int] NOT NULL,
	[known_language_id] [int] NOT NULL,
 CONSTRAINT [Translator_pk] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[known_language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [Translator_KnownLanguageID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Translator_KnownLanguageID] ON [dbo].[Translator]
(
	[known_language_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [Translator_UserID]    Script Date: 22.10.2025 01:05:57 ******/
CREATE NONCLUSTERED INDEX [Translator_UserID] ON [dbo].[Translator]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Translator]  WITH CHECK ADD  CONSTRAINT [Coordinator_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Translator] CHECK CONSTRAINT [Coordinator_Users]
GO
ALTER TABLE [dbo].[Translator]  WITH CHECK ADD  CONSTRAINT [Translator_Languages] FOREIGN KEY([known_language_id])
REFERENCES [dbo].[Languages] ([language_id])
GO
ALTER TABLE [dbo].[Translator] CHECK CONSTRAINT [Translator_Languages]
GO
